# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [15]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [6]:
# Run this code:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [ ]:
# Your code here
salaries.sample()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
6747,"DEANGELIS, JASON A",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,89148.0,NaN
21804,"OLIVER, RORY",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
4668,"CHAPLICK, MICHAEL J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
15430,"KING SR, GERONIMO",LABORER,AVIATION,F,Hourly,40.0,NaN,34.57
27130,"SHELTON, DENNIS",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN

# Challenge 2
This is a placeholder to make the AI corrector be able to find the correct exercise for feedback

# Challenge 3 - Constructing Confidence Intervals

We will test whether the hourly wage of all hourly workers is significantly different from $30/hr.

In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. Is $30/hr within that interval?

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [ ]:
# Get number of rows
number_samples = len(salaries.index)
confidence = 0.95
mean = salaries["Hourly Rate"].mean()
std = sem(salaries["Hourly Rate"], nan_policy = "omit")

# Compute interval need
result = t.interval(confidence,number_samples-1, loc=mean, scale=std/np.sqrt(number_samples)) 
print(result)

(np.float64(32.78786386854621), np.float64(32.78925156401425))

This is fine if we have thousands of worker data. But what if we have only 100 workers data?

Sample 100 workers and re-construct the 95% confidence interval. Is the interval wider of narrower? And why?
Do you still encapsulate the $30/hr mark in this case?

In [28]:
# Take 100 samples
simple_sample = salaries.sample(100)

# Recompute from the new sample
simple_number_samples = len(simple_sample.index)
simple_mean = simple_sample["Hourly Rate"].mean()
simple_std = sem(simple_sample["Hourly Rate"], nan_policy = "omit")

# Compute interval need
simple_result = t.interval(confidence,simple_number_samples-1, loc=simple_mean, scale=simple_std/np.sqrt(simple_number_samples)) 
print(simple_result)

(np.float64(28.192362658897018), np.float64(29.225028645450813))